* {
    box-sizing: border-box;
}

body {
    background-color: rgb(110, 172, 205);
}

.form-containter {
    background-color: #fff;
    margin: 10px 30%;
    padding: 50px;
}

.title {
    text-align: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
}

.gender-selection {
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.accept-terms {
    display:flex;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 16px;
}

.accept-terms span {
    display: inline-block;
}

.checkbox {
    width: 16px;
    height: 16px;
}

.submit-containter {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-top: 20px;
}

.submit-btn {
    position: relative;
    font-size: 20px;  
    font-family: system-ui, Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.4);
    border: none;
    text-transform: uppercase;
    background: linear-gradient(to right, green 50%, transparent 50%);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 0.6s ease;
}

.submit-btn:active,
.submit-btn:focus,
.submit-btn:hover {
  outline: none;
  background-position: 0 0;
  color: #fff;
}


label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    border-radius: 10px;
    width: 90%;
    padding: 10px 4px;
    cursor: pointer;
}

input:optional {
    border: 1px solid gray;
}

input:invalid {
    border: 2px solid red;
}
  
input:required:valid {
    border: 2px solid green;
}

input:required:focus:valid {
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
    background-size: 25px;
}

input:focus:invalid {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
    background-size: 25px;
}